.global-sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 9;
    top: 50px;
    left: -100%;
    overflow-x: hidden;
    transition: 0.5s;
    border: 1px solid silver;
    background-color: white;
    padding: 10px;
    &.active {
        left: 0;
    }
    .li-user-login {
        display: none !important;
    }
    .header-menu {
        display: none;
        li {
            margin: 5px 0;
        }
        .dropdown {
            &-item
            {
                padding-left: 25px;
                margin: 5px 0;
                a {
                    position: relative;
                    &:after{
                        font-family: FontAwesome;
                        position: absolute;
                        left: -10px;
                        content: "\F105";
                    }
                }
            }
        }
    }
    ul {
        li {
            ul {
                list-style: square;
                padding-left: 40px;
                li{
                    line-height: 1.5rem;
                    list-style: unset;
                }
            }
        }
    }
}